{% extends 'base.html' %}
{% load staticfiles%} 
<!DOCTYPE html>
{% block content %}
<div class="left-news"> 
    <div class="row news-list news-desc">
        <div class="col-md-12">
          <h3 class="heading">Trends of IPL 2018</h3>
          <hr>
        </div>
        <div class="col-md-12 mt-1">
            <div class="news-list-cont pb-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>With 20 needed to win off the last two overs for Knight Riders, Sunrisers still stood a chance.</h5></a>
                <p>01 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
                <p class="desc">However, Hilfenhaus bowled an above waist-high full toss the next ball, yielding three runs and an extra delivery that was hit for four by Shakib Al Hasan. "In the 19th over, there was a big turning point. he first Qualifier, which will be contested by the top two teams in the league, and the Eliminator, contested by Nos. 3 and 4, will be held in Bangalore. Chennai will host the second Qualifier, which will be played between the winner of the Eliminator and the loser of the first Qualifier, and the tournament final. <br>
                <br>The tournament is scheduled to begin 12 days after the Asia Cup final and a week after the end of South Africa's tour of New Zealand. At present there are three international series that will clash with the 2012 IPL and could affect player availability for both the franchises and the countries. Sri Lanka are hosting England in April, while West Indies host Australia and then travel to England in May. <br><br>

                The fifth season of the Indian Premier League (IPL), comprising nine teams and 76 matches, will begin and end in Chennai, with the opening match on April 4 and the final on May 27. The teams will play each other at home and away during a league phase consisting of 72 games at 12, possibly 13, venues, beginning with the defending champions Chennai Super Kings playing Champions League T20 winners Mumbai Indians. There won't, however, be any matches in Sri Lanka, the BCCI apparently turning down a suggestion by Sri Lanka Cricket to stage a few games there. The Pune Warriors franchise will host eight games at the new stadium in Pune, subject to its completion. In 2011, Pune had to stage their 'home' games at the DY Patil Stadium in Mumbai. Dharamsala and Visakhapatman will also host two games each, and Cuttack is listed as an alternate venue to Hyderabad for two matches. <br><br>
                <b><i>The first Qualifier, which will be contested by the top two teams in the league, and the Eliminator, contested by Nos. 3 and 4, will be held in Bangalore. Chennai will host the second Qualifier, which will be played between the winner of the Eliminator and the loser of the first Qualifier, and the tournament final.</i></b></p>
            </div>   
        </div> 
    </div>

    <div class="row news-list">
        <div class="col-md-12">
          <hr>
          <h3 class="heading">Related News</h3>
          <hr>
        </div>
        <div id="on-items-bucket" class="col-md-12 mt-1"></div>
        <div id="off-items-bucket" class="col-md-12 mt-1">
            <div class="news-list-cont pb-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>With 20 needed to win off the last two overs for Knight Riders, Super Kings still stood a chance.</h5></a>
                <p class="desc">However, Hilfenhaus bowled an above waist-high full toss the next ball, yielding three runs and an extra delivery that was hit for four by Shakib Al Hasan. "In the 19th over, there was a big turning point.</p>
                <p>01 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div>
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Major finals tend to be flat and forgettable because the occasion ends up too big.</h5></a>
                <p class="desc">Over seven weeks, the IPL's presence spread through its audience like the heat of a genuine Indian summer. An annual league that takes far longer than the football, cricket and rugby world cups.</p>
                <p>02 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Runs in IPL guarantee India berth  his form into the upcoming domestic season time</h5></a>
                <p class="desc">Looking leaner and fitter, the wicket-keeper batsman asserted that a good preseason is crucial for him to remain in shape for the rest of the season. "I had struggled with my fitness last season.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>IPL 2017: Karun Nair stars as Daredevils beat Sunrisers by six wickets</h5></a>
                <p class="desc">Delhi Daredevils defeated Sunrisers Hyderabad by six wickets in their crucial Indian Premier League match here on Friday. Opting to bowl, Daredevils restricted Sunrisers Hyderabad to 158 for seven.</p>
                <p>16 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Their performance against Royal Challengers Bangalore — who with their power-packed</h5></a>
                <p class="desc">Irrespective of whether the curators prepare featherbeds or not, RCB has a batting unit that can terrorise most bowling combinations. The form they have been in is an even more dangerous portent.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Fitness remains his priority, Samson has also changed his approach towards batting</h5></a>
                <p class="desc">It limited my approach as I was thinking a lot and making things complicated. So I got frustrated. At the start of IPL 10, I worked with (Daredevils coach) Rahul Dravid and things started to fall in place.</p>
                <p>15 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>IPL 2016, RCB Vs DD Playing 11: List of today's Probable XIs for RCB vs Delhi Daredevils</h5></a>
                <p class="desc">Things didn’t start well for DD but after winning the last match confidence of Delhi Daredevils will be high and they will try to play bold tonight when they will face RCB.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Tens of thousands of people turned out on the streets of Kolkata on Tuesday to receive the KKR team</h5></a>
                <p class="desc">The political leadership, top actors and musicians, and the local cricket establishment - including former ICC president Jagmohan Dalmiya - joined the team in the celebrations.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div> 
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Kings XI Punjab pooled in Rs 5.50 crore for little-known Australian all-rounder.</h5></a>
                <p class="desc">At 26, with sparse international exposure, he wasn’t exactly an investment for the future either. In his first three IPL outings, he hardly did anything remotely suggestive of his value.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div>
            <hr>
            <div class="news-list-cont py-1">
                <img src="{% static 'img/news/news-desc-1.jpg'  %}" alt="" class="img-fluid">
                <a href="news-desc.html"><h5>Gujarat Lions' three-match winning streak came to an end yesterday after losing.</h5></a>
                <p class="desc">Gujarat Lions batting so far has revolved around explosive openers Brendon McCullum and Dwayne Smith. When the duo clicked, the Lions have managed to achieve scores around 200.</p>
                <p>12 December 2018 <span class="ml-5"><i class="fa fa-tag"></i> IPL 20-20</span></p>
            </div>  
        </div>
        <div class="col-md-12 text-center my-4">
          <button id="load-more" class="btn-general btn-white" role="button">view more</button>
        </div>
    </div>

</div> 
{% endblock %}  