{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles%} 
{% block content %}
<div class="left-news" id="photo"> 
  <div class="row second-banner">
      <div class="col-md-12">
        <h3 class="heading">Trending Photo IPL 2017</h3>
        <hr>
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-1.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-1.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-2.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-2.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-13.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-13.jpg'  %}" alt="IPLTrending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-4.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-4.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-15.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-15.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-6.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-6.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-7.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-7.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-8.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-8.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-9.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-9.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-10.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-10.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-11.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-11.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div>
      <div class="col-md-4 col-sm-6 mt-4">
          <div class="second-banner-cont">
              <a href="{% static 'img/photo/photo-12.jpg'  %}" title="IPL Trending">
                  <img src="{% static 'img/photo/photo-12.jpg'  %}" alt="IPL Trending" class="img-fluid">
              </a>
          </div>  
      </div> 
  </div> 
</div> 
{% endblock %}

