{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles%} 
{% block content %}
<div class="score-detail">
  <div class="live-score">
      <div class="card text-center">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          07 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          08 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/royal_chalanger_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          08 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          09 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          10 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          11 April 2018
        </div>
      </div>
      <div class="card text-center mt-3">
        <div class="card-header">
          Live Score
        </div>
        <div class="card-body"> 
          <ul>
              <li><img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid"><p>163/07 20ov.</p></li>
              <li>vs</li>
              <li><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"><p>123/05 14.02ov.</p></li>
          </ul> 
        </div>
        <div class="card-footer text-muted">
          12 April 2018
        </div>
      </div>
  </div> 
</div>  
{% endblock %}

