{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles%} 
{% block content %}
<div class="left-news video"> 
  <div class="row second-banner">
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/q5ZLT2HIz70" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-10.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Kings XI Punjab returns</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/CO9ImpVdYMU" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-9.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Pump to play RCB Best</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/e4AlO9dTieU" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-8.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Yuvraj celebrates after taking the wicket</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
      <div class="col-md-4 my-3">
          <div class="second-banner-cont">
              <div class="tutorial-con video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jvmCuDDeNTA" data-target="#exampleModalCenter">
                  <img src="{% static 'img/second-banner/second-banner-7.jpg'  %}" alt="" class="img-fluid">
                  <div class="img-caption">
                      <p>Trending</p>    
                      <h5>Indian Premier Leage 2018 India Khelega</h5>
                      <small>23 Dec 2018</small>
                  </div>
              </div>
          </div>  
      </div>
  </div> 
</div>         
{% endblock %}


